Brotli==1.0.9
Flask==3.0.3
GitPython==3.1.43
Jinja2==3.1.4
Mako==1.3.5
Markdown==3.6
MarkupSafe==2.1.3
PySocks==1.7.1
PyYAML==6.0.1
PyYAML==6.0.2
Pygments==2.18.0
SQLAlchemy==2.0.34
Werkzeug==3.0.4
absl-py==2.1.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.13.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
autocommand==2.2.2
autopage==0.5.2
backports.tarfile==1.2.0
blinker==1.8.2
certifi==2024.7.4
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cliff==4.7.0
cmaes==0.11.1
cmd2==2.4.3
colorama==0.4.6
colorlog==6.8.2
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.6.7
decorator==5.1.1
distlib==0.3.8
docker-pycreds==0.4.0
exceptiongroup==1.2.2
executing==2.0.1
fastapi==0.115.0
ffmpy==0.4.0
filelock==3.13.1
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.3.1
gitdb==4.0.11
gmpy2==2.1.2
gradio==4.44.1
gradio_client==1.3.0
greenlet==3.1.0
grpcio==1.48.2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.25.1
hydra-colorlog==1.2.0
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0
identify==2.6.0
idna==3.7
idna==3.8
imageio==2.35.1
importlib_metadata==8.0.0
importlib_metadata==8.4.0
importlib_resources==6.4.0
importlib_resources==6.4.5
inflect==7.3.1
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.29.5
ipython==8.26.0
itsdangerous==2.2.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
lightning-utilities==0.11.7
lightning==2.4.0
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
matplotlib==3.9.2
mdurl==0.1.2
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
mkl==2021.4.0
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.1.0
nest_asyncio==1.6.0
networkx==3.3
nodeenv==1.9.1
numpy==1.26.4
omegaconf==2.3.0
opencv-python==4.10.0.84
optuna==2.10.1
ordered-set==4.1.0
orjson==3.10.7
packaging==24.1
packaging==24.1
pandas==2.2.2
parso==0.8.4
pbr==6.1.0
pickleshare==0.7.5
pillow==10.4.0
pip==24.2
platformdirs==4.2.2
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.8.0
prettytable==3.11.0
prompt_toolkit==3.0.47
protobuf==3.20.3
psutil==5.9.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
pyparsing==3.1.4
pyperclip==1.9.0
pyreadline3==3.4.3
pyrootutils==1.0.4
pytest==8.3.3
python-dateutil==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
pytorch-lightning==2.4.0
pytz==2024.1
pywin32==305.1
pyzmq==24.0.1
requests==2.32.3
rich==13.8.1
rootutils==1.0.7
ruff==0.6.8
scipy==1.13.1
seaborn==0.13.2
semantic-version==2.10.0
sentry-sdk==2.13.0
setproctitle==1.3.3
setuptools==72.1.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
stack-data==0.6.2
starlette==0.38.6
stevedore==5.3.0
sympy==1.12
tbb==2021.13.1
tensorboard-data-server==0.7.0
tensorboard==2.17.1
tomli==2.0.1
tomli==2.0.1
tomlkit==0.12.0
torch-directml==0.2.4.dev240815
torch-tb-profiler==0.4.3
torch==2.3.1
torch==2.4.1
torchaudio==2.4.1
torchinfo==1.8.0
torchmetrics==1.4.1
torchvision==0.18.1
torchvision==0.19.1
tornado==6.2
tqdm==4.66.4
traitlets==5.14.3
typeguard==4.3.0
typer==0.12.5
typing_extensions==4.11.0
typing_extensions==4.12.2
tzdata==2024.1
ultralytics-thop==2.0.6
ultralytics==8.2.92
urllib3==2.2.2
uvicorn==0.31.0
virtualenv==20.26.4
wandb==0.17.7
wcwidth==0.2.13
websockets==12.0
wheel==0.43.0
wheel==0.43.0
win-inet-pton==1.1.0
yarl==1.11.1
zipp==3.19.2
zipp==3.20.1